html,
body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  /*
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  */
}

.hidden {
  display: none;
}

#todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* #header h1 { */
#todoapp h1{
  position: absolute;
  top: -205px;
  width: 100%;
  text-align: center;
  font: 100px 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #C0C0C0;
  text-rendering: optimizeLegibility;
}

#TODO-Item {
  padding-left: 16px;
  padding-right: 16px;
}

#content {
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;

}

footer {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  top: 45px;
  margin-bottom: 15px;
  color: #A0A0A0;
  text-rendering: optimizeLegibility;
}

footer #footerText {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
#createDate {
  /*
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 62.5%;
  background-color: #000000;
  */
}

.view table {
  border-spacing: 0;
  width: 100%;
}

.view td, .view th {
  text-align: left;
  border-bottom: 1px solid #ededed;
  padding-top: 7px;
  padding-left: 7px;
  padding-bottom: 7px;
}

.view td:last-child {
  border-left: 1px solid #ededed;
  width: 25%;
}

td.complete {
  color: #d9d9d9;
  text-decoration: line-through;
}

.filtering:hover {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

#view-links {
  vertical-align: middle;
}

.filtering {
  padding: 5px;
  display: inline-block;
  /*
  clear:both;
  float:left;
  */
}

.filtering:active {
  border: 1px solid #4d4d4d;
  border-radius: 3px;
}

.active {
  padding: 5px;
  display: inline-block;
  border: 1px solid #4d4d4d;
  border-radius: 3px;
}
